* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: Poppins, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.8
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111827
}

.logo {
    font-size: 24px;
    font-weight: 700
}

.back-link {
    color: #60a5fa;
    text-decoration: none
}

.hero {
    max-width: 1000px;
    margin: 50px auto;
    text-align: center;
    padding: 0 20px
}

.badge {
    display: inline-block;
    background: #2563eb;
    padding: 8px 18px;
    border-radius: 30px;
    margin-bottom: 20px
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px
}

.meta {
    color: #9ca3af;
    margin-bottom: 25px
}

.cover {
    width: 100%;
    border-radius: 18px
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px
}

.lead {
    font-size: 20px;
    margin-bottom: 30px
}

blockquote {
    background: #1e293b;
    padding: 20px;
    border-left: 5px solid #3b82f6;
    border-radius: 10px;
    margin: 30px 0;
    font-style: italic
}

h2 {
    margin: 35px 0 10px;
    color: #60a5fa
}

.highlight,
.about,
.next,
.progress-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 14px;
    margin: 30px 0
}

.highlight ul,
.progress-card ul {
    padding-left: 20px
}

.button {
    display: inline-block;
    margin-top: 20px;
    background: #2563eb;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none
}

.button:hover {
    background: #1d4ed8
}

@media(max-width:768px) {
    .hero h1 {
        font-size: 30px
    }
}