* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background-color: rgb(2, 2, 37);
  color: white;
}




nav {
  
  color: white;
  display: flex;
  margin-top: 40px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  

}

nav h1 {
  display: inline;
  font-size: 28px;
}

.navul {
  display: flex;

  width: 50%;
  margin-left: auto;
  font-size: 20px;
  justify-content: space-between;

}

.navli {
  display: inline;

}

.navlink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #138aeb;
  text-decoration: #138aeb;
}

.myimage img:hover{
  transform: rotate3d(1, 1, 0 ,20deg);
}


.content {
  
  margin-top: 0px;
  display: flex;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  height: 70vh;


}

.writting {
  
  width: 65%;
  padding-top: 80px;

}

.myimage {
  /*border: green 3px solid;*/
  width: 35%;
  padding-left: 4%;
  padding-top: 6%;
}

.myimage img {
  height: 80%;
  width: 90%;
  
  border-radius: 50%;
  
  transition: transform 0.7s ease;
  transform-style: solid;
  border-width: 3px;
  border-color: #1a90f1;
  border-style: solid;
  box-shadow: 0 0 24px 10px #68bafd;
}

.hello {
  font-size: 2.2rem;
  color: white;

}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: white;

}

.depa {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.0rem;
}

.bio {
  font-size: 1rem;
  color: white;
  max-width: 600px;
  line-height: 1.6;
}

.links {
  display: flex;
  margin-left: 0px;
  margin-top: 60px;
  /*border: black 2px solid;*/
  justify-content: space-between;
  width: 55%;
}

.links img, .linkscontact img{
  height: 30px;

}

.fb {
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 0px;
  box-shadow: 0 0 12px 3px #68bafd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

}

.fb:hover,
.tele:hover,
.git:hover,
.medium:hover,
.whatsapp:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}


.tele,
.git{
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: 0 0 12px 3px #68bafd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cvbutton{
  background-color: rgb(40, 85, 232); 
  color: white; 
  height: 35px; 
  cursor: pointer; 
  padding-left: 10px; 
  padding-right: 10px; 
  border-radius: 10px; 
  border: none;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease
}

.cvbutton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 5px #319bf2;
}


.git,
.fb,
.tele,
.medium{
  border-color: #0b88ef;
  border-width: 3px;
  border-style: solid;
}

.medium {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 20px;
  margin-left: 10px;
  box-shadow: 0 0 20px 5px #319bf2;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.cvbutton {
  height: 33px;
  border-radius: 15px;
  font-size: 15px;
}

.aboutme {
  /*border: blue 2px solid;*/
  
}
.about{
  /*border: red 2px solid;*/
  
  margin-bottom: 40px;
  display: flex;
  
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 0px;
}
.abouth1 {
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.codinggirl {
  width: 30%;
  margin: auto;
  height: 350px;
  
  border-radius: 50%;
  border-width: 5px;
  border-color: #1a90f1;
  border-style: solid;
  box-shadow: 0 0 24px 8px #68bafd;
}

.aboutdiv {
  
  border-width: 2px;
  /*border-color: blueviolet;*/
  border-style: none;
  width: 60%;
  border-width: 5px;
  border-color: #1a90f1;
  border-style: solid;
  box-shadow: 0 0 24px 10px #68bafd;
  
  font-size: 10px;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;
  margin-left: 90px;

}

.aboutdiv:hover {
  transform: rotate3d(1, 1, 0, 20deg);
  /* Makes the box slightly larger */

}

.aboutmepara {
  font-size: 17px;
}

.contact{
  /*border: red 2px solid;*/
  width: 86%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 40px;
  margin-top: 100px;
}

.details{
  /*border: yellow 2px solid;*/
  width: 45%;
  
}


.formdetils{
  /*border: purple 2px solid;*/
  width: 55%;
}

.fbcontact {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 0px;
  cursor: pointer;

}

.telecontact, .gitcontact {
  border-radius: 50%;
  margin-right: 5px;
  margin-left: 10px;
  
  cursor: pointer;
}

.mediumcontact {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.fbcontact:hover, .telecontact:hover, .gitcontact:hover, .mediumcontact:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}

.linkscontact {
  display: flex;
  margin-left: 0px;
  margin-top: 30px;
  /*border: black 2px solid;*/
  justify-content: space-between;
  width: 45%;
}

.buttoncontact{
  background-color: rgb(40, 85, 232); 
  color: white; 
  height: 35px; 
  cursor: pointer; 
  margin-top: 20px; 
  width: auto; 
  padding-left: 10px; 
  padding-right: 10px; 
  border-radius: 10px; 
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.buttoncontact:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}

.form input, .form textarea{
  display: block;
  width: 80%;
  background-color: rgb(21, 21, 21);
  color: white;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background: transparent;
  border-bottom: 3px rgb(34, 34, 237) solid;
}

.form input:focus,.form textarea:focus{
  outline: none;
}

.form input,textarea{
  height: 45px;
  margin-bottom: 20px;
}
.form textarea{
  height: 100px;
}

.submitbtn{
  background-color: rgb(40, 85, 232); 
  color: white; 
  height: 35px; 
  cursor: pointer; 
  margin-top: 10px; 
  padding-left: 10px; 
  padding-right: 10px; 
  border-radius: 10px; 
  border: none;
  font-size: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 80%;
}
.submitbtn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}

.education{
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  /*border: blue 2px solid;*/
  margin-bottom: 50px;
  margin-top: 80px;
  
}

.edu{
  width: 100%;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-bottom: 40px;
  /*border: red 2px solid;*/
  margin-left: auto;
  margin-right: auto;

}

.child{

  border-radius: 15px;
  margin-top: 30px;
  margin-left: 20px;
  border-width: 5px;
  border-color: #1a90f1;
  border-style: solid;
  box-shadow: 0 0 24px 10px #68bafd;
  padding: 20px;
  transition: 0.3s ease;
}

 .child:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

