
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
}



nav {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:40px;
  margin-top: 20px;
}

nav h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 100px;
}

.navul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navli {
  font-size: 1.3rem;
}

.navlink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #68bafd;
  text-decoration: #68bafd;
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}


.writting {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
}

.hello {
  font-size: 2.2rem;
  color: white;
  
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: white;
 
}

.depa {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.0rem;
}

.bio {
  font-size: 1rem;
  color: white;
  max-width: 600px;
  line-height: 1.6;
}

.myimage {
  flex: 1;
  min-width: 300px;
  text-align: center;
  margin-top: 0px;
}

.myimage img {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(120, 240, 240, 0.989);

}
  



.links{
    display: flex;
    margin-left: 20px;
    margin-top: 0;

}

.links img{
    height: 30px;

}
.fb{
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 110px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    
}

.fb:hover,.tele:hover ,.git:hover,.medium:hover,.whatsapp:hover,.cvbutton:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}


.tele,.git,.cvbutton{
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.git,.fb,.tele,.medium,.whatsapp,.cvbutton{
  border-color: #68bafd;
  border-width: 3px;
  border-style: solid;
}

.medium,.whatsapp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cvbutton{
  height: 33px;
  border-radius: 15px;
  font-size: 15px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .writting {
    padding: 1.5rem 1rem;
  }

  .navul {
    gap: 1rem;
    font-size: 0.9rem;
  }
}



