
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
}




nav {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
  display: flex;
  margin-top: 40px;
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  
}

nav h1{
  display: inline;
  font-size: 28px;
}
.navul{
  display: flex;
 
  width: 50%;
  margin-left: auto;
  font-size: 20px;
  justify-content: space-between;
  
}
.navli{
  display: inline;
  
}

.navlink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #68bafd;
  text-decoration: #68bafd;
}


.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 2%;
  padding-right: 5%;
  padding-bottom: 0;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}


.writting {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
}

.hello {
  font-size: 2.2rem;
  color: white;
  
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  
}

.depa {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.0rem;
}

.bio {
  font-size: 1rem;
  color: white;
  max-width: 600px;
  line-height: 1.6;
}

.myimage {
  flex: 1;
  min-width: 300px;
  text-align: center;
  margin-top: 0px;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
}

.myimage img {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 0 50px rgba(120, 240, 240, 0.989);
  cursor: pointer;
}
  
.myimage:hover{
  transform: rotate3d(1, 1, 0 ,20deg);
}


.links{
    display: flex;
    margin-left: 20px;
    margin-top: 0;
    
}

.links img{
    height: 30px;

}
.fb{
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 110px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    
}

.fb:hover,.tele:hover ,.git:hover,.medium:hover,.whatsapp:hover,.cvbutton:hover{
  transform: scale(1.1);
  box-shadow: 0 0 20px 2px #68bafd;
}


.tele,.git,.cvbutton{
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.git,.fb,.tele,.medium,.whatsapp,.cvbutton{
  border-color: #68bafd;
  border-width: 3px;
  border-style: solid;
}

.medium,.whatsapp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-left: 10px;
    box-shadow: 0 0 12px 3px #68bafd;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.cvbutton{
  height: 33px;
  border-radius: 15px;
  font-size: 15px;
}

.aboutme{
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  border-color: blue;
  border-style: none;
  border-width: 2px;
  background: linear-gradient(90deg, #1f3259, #4e68bc);
  padding-top: 30px;
  padding-bottom: 30px;
  
  margin-left: 80px;
  margin-right: 50px;
  border-radius: 30px;
}

.abouth1{
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.codinggirl{
  width: 350px;
  margin: auto;
  height: 350px;
  margin-left: 120px;
  border-radius: 50%;
  border-width: 5px;
  border-color: #1a90f1;
  border-style: solid;
  box-shadow: 0 0 24px 10px #68bafd;
}

.aboutdiv{
  width: 60%;
  border-width: 0;
  border-color: none;
  border-style: solid;
  margin-right: 70px;
  margin-left: 70px;
  background: linear-gradient(90deg, #212d69, #3150b7);
  font-size: 10px;
  transition: transform 0.7s ease;
  transform-style: preserve-3d;
  border-radius: 30px;
  cursor: pointer;
  padding: 20px;
  
}

.aboutdiv:hover {
      transform: rotate3d(1, 1, 0, 20deg); /* Makes the box slightly larger */
      
    }

.aboutmepara{
  font-size: 17px;
}




