
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
}


/* Navigation */
nav {
  background: linear-gradient(90deg, #162038, #2241a5);
  color: white;
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:40px;
  margin-top: 20px;
}

nav h1 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 100px;
}

.navul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.navli {
  font-size: 1.3rem;
}

.navlink {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navlink:hover {
  color: #68bafd;
  text-decoration: #68bafd;
}

/* Content Section */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 5%;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

/* Writing/Text */
.writting {
  flex: 1;
  min-width: 300px;
  padding: 2rem;
}

.hello {
  font-size: 2.2rem;
  color: white;
  
}

.name {
  font-size: 3rem;
  font-weight: bold;
  color: white;
 
}

.depa {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1.0rem;
}

.bio {
  font-size: 1rem;
  color: white;
  max-width: 600px;
  line-height: 1.6;
}

/* Image Styling */
.myimage {
  flex: 1;
  min-width: 300px;
  text-align: center;
  margin-top: 0px;
}

.myimage img {
  max-width: 75%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 8px 24px rgba(0,0,0,0.2);
}



/* Responsive Design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .writting {
    padding: 1.5rem 1rem;
  }

  .navul {
    gap: 1rem;
    font-size: 0.9rem;
  }
}

